@font-face {
    font-family: OpenSans;
    src: url("assets/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #07090c;
    color: #8494ab;
    font-size: 16px;
}

.wrap {
    width: 100%;
    max-width: 1000px;
    margin: 79px auto 0;
    display: grid;
    grid-template-columns: 32% auto ;
}

/*------start sidebar------*/

.menu__icon {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 5px;
}

.menu__ham {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.menu__ham:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.menu__ham:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: -10px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.menu__list {
    list-style: none;
}

.menu__item {
    padding: 28px;
    font-family: OpenSans, sans-serif;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    background: #1f2229;
    border-bottom: 1px solid #20232b;
    &:nth-last-child(-n+2) {
        background: #191c24;
    }
    &:last-child {
        border-bottom: none;
        color:  #808592;
    }
}

.menu__item-active {
    background: #2a2d37;
    color:  #808592;
}

/*------end sidebar------*/

/*------start main------*/

.main__content {
    background: #f7f8f8;
    padding: 47px 29px;
}

.payment-info__header {
    margin-bottom: 23px;
}

.payment-info__content {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 160px auto;
    grid-template-rows: auto;
    grid-row-gap: 10px;
}

.payment-info__value {
    color: #373c43;
}

.card-info {
    margin-top: 35px;
}

.card-info__title {
    font-family: OpenSans, sans-serif;
    color:  #383d43;
    font-size: 22px;
    margin-bottom: 22px;
}

.card-info__form {
    position: relative;
}

.card-front, .card-back {
    border-radius: 10px;
    border: 1px solid #e4e9ee;
    background-color:  #f7f8f8;
    width: 350px;
    height: 236px;
    padding: 8px 16px 14px;
    position: relative;
    z-index: 1;
}

.card-back {
    position: absolute;
    left: 194px;
    top: 20px;
    z-index: 0;
}

.card-back:before {
    content: "";
    width: 100%;
    height: 42px;
    background: #e4e9ee;
    position: absolute;
    top: 25px;
    right: 0;
}

.form-group {
    margin-top: 14px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    font-family: Arial, sans-serif;
    color:  #373c43;
    font-size: 16px;
    border: 1px solid #e4e9ee;
    background-color:  #ffffff;
    padding: 11px 12px;
    appearance: none;
}

.form-group input::placeholder {
    font-family: Arial, sans-serif;
    color:  #bec6cf;
    font-size: 16px;
}

.form-group-card-num input {
    width: 65px;
    display: inline-block;
    margin-right: 5px;
}

.card-month-container, .card-year-container {
    display: inline-block;
    position: relative;
}

.card-month-container:before, .card-year-container:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 8px;
    background: #ffffff url("assets/img/arrow.png");
    z-index: 1;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    pointer-events: none;
}

.card-year-container:before {
    right: 7px;
}

.card-month {
    min-width: 70px;
    position: relative;
    margin-right: 5px;
}

.card-year {
    min-width: 86px;
}
.form-group-card-name {
    margin-top: 12px;
}

.form-group-card-cvc {
    margin-top: 75px;
    margin-left: auto;
    margin-right: 0;
    width: 138px;
    position: relative;
}

.form-group-card-cvc input {
    width: 100%;
}

.form-group-card-cvc:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    bottom: 9px;
    right: 9px;
    background: url("assets/img/help.png") no-repeat;
    background-size: contain;
    cursor: pointer;
}

.button {
    border-radius: 50px;
    font-size: 14px;
    font-family: OpenSans, sans-serif;
    font-weight: 700;
    padding: 10px 30px;
}

.btn-submit {
    background-color:  #005abf;
    background: -webkit-linear-gradient(90deg, #004ca2 0%, #005abf 100%);
    background: -moz-linear-gradient(90deg, #004ca2 0%, #005abf 100%);
    background: -o-linear-gradient(90deg, #004ca2 0%, #005abf 100%);
    background: -ms-linear-gradient(90deg, #004ca2 0%, #005abf 100%);
    background: linear-gradient(0deg, #004ca2 0%, #005abf 100%);
    color:  #ffffff;
    margin-top: 40px;
    margin-left: 15px;
}

.main__footer {
    background: #373c43;
    color:  #89909d;
    padding: 26px 45px 23px 26px;
    line-height: 18px;
    font-size: 12px;
}

.main__footer p {
    margin: 10px 0;
}

/*------end main------*/

/*---start @media-query---*/

@media screen and (max-width: 1000px) {
    .wrap {
        grid-template-columns: 40px auto;
    }
    .sidebar {
        z-index: 10;
        position: relative;
        background: #1f2229;
    }
    .menu__icon {
        display: block;
    }

    .menu__icon-active .menu__ham {
        background-color: transparent;
    }

    .menu__icon-active .menu__ham:before {
        top: 0;
        transform: rotate(45deg);
    }

    .menu__icon-active .menu__ham:after {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .menu__list {
        position: absolute;
        width: 318px;
        display: none;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 14px
    }

    .card-front, .card-back {
        width: 250px;
        height: 170px;
    }

    .card-back {
        left: 140px;
    }

    .card-back::before {
        height: 28px;
        top: 16px;
    }

    .form-group {
        margin-top: 7px;
    }

    .form-group input, .form-group select {
        padding: 5px;
        font-size: 14px;
    }

    .form-group input::placeholder {
        font-size: 14px;
    }

    .form-group-card-num input {
        width: 50px;
        margin-right: 1px;
    }

    .card-month-container::before, .card-year-container::before {
        //top: 10px;
    }

    .form-group-card-cvc {
        width: 110px;
        margin-top: 44px;
    }

    .form-group-card-cvc::before {
        bottom: 5px;
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 480px) {
    .wrap {
        grid-template-columns: 0 auto;
    }

    .menu__icon {
        position: absolute;
        top: -30px;
        background: #1f2229;
    }

    .card-info__title {
        font-size: 18px;
    }

    .card-front {
        margin-bottom: 60px;

    }

    .card-back {
        top: 70px;
        left: 30px;
    }

    .form-group-card-cvc {
        margin-top: 100px;
    }
}

/*---end @media-query---*/

/*------start validation-------*/

label.error {
    display: none!important;
}

.error {
    border: 1px solid red!important;
}

/*------end validation-------*/